/laravel_app/vendor
/laravel_app/node_modules
/laravel_app/public/storage
/laravel_app/public/hot
/laravel_app/storage/*.key
/laravel_app/storage/pail
/laravel_app/storage/framework/cache/*
/laravel_app/storage/framework/sessions/*
/laravel_app/storage/framework/views/*
/laravel_app/storage/logs/*
/laravel_app/storage/app/uploads/*
/laravel_app/storage/app/conventions/*
!/laravel_app/storage/framework/cache/.gitkeep
!/laravel_app/storage/framework/sessions/.gitkeep
!/laravel_app/storage/framework/views/.gitkeep
!/laravel_app/storage/logs/.gitkeep
/laravel_app/bootstrap/cache/*.php
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
